<div class="yui3-moodle-local_licensing-productdialogue-content-row">
    <input type="text" name="searchterm" value="{{searchTerm}}" />
    <button class="search">Search {{productType}}</button>
</div>

<div class="yui3-moodle-local_licensing-productdialogue-content-row">
    Found {{products.length}} {{productType}}
</div>

<div class="yui3-moodle-local_licensing-productdialogue-content-row">
    <ul>
        {{#products}}
            <li>
                <h4>{{fullname}}</h4>
                <button class="add" data-productId="{{id}}">Add</button>
            </li>
        {{/products}}
    </ul>
</div>
